md-grid-list md-grid-title img {
  max-resolution: 100%;
}
md-grid-list md-grid-title md-grid-title-footer {
  background: rgba(0 , 0, 0, 0.54);
}
md-grid-list md-grid-title md-grid-title-footer h3 {
  font-weight: bold;
}

md-card md-icon svg {
  opacity: 0.26; /* inativo */
}
md-card md-icon:hover svg {
  opacity: 0.54; /* ativo */
}
